.advantages__wrapper {
  .wrapper__size;
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 45px 30px 47px 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 71px 110px 69px 110px;
  }
}

.advantages__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}

.advantages__list {
  .list__reset;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto auto;
    column-gap: 153px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  padding-left: 80px;

   @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages__description {
  margin: 0;
}
