.advantages {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.advantages__wrapper {
  .wrapper__size;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.advantages__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}

.advantages__list {
  .list__reset;
  display: grid;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto auto;
    column-gap: 153px;
    gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 94px;
  }
}

.advantages__item {
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.advantages__description {
  margin: 0;
}
