.catalog {
  padding-top: 27px;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}

.catalog__wrapper {
  .wrapper__size;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 41px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-bottom: 165px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  .list__reset;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 324px);
    justify-content: space-between;
    row-gap: 141px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    justify-content: space-between;
    row-gap: 144px;
  }
}
