.contacts {
  position: relative;
}

.contacts__wrapper {
  .wrapper__size;
  padding: 26px 20px;
  display: flex;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 26px 30px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 565px;
    padding: 60px 78px 60px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: @light;
  }
}

.contacts__invite {
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.contacts__address {
  width: 140px;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: @tablet-width) {
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contacts__maps {
  display: block;
  width: 100%;
}

.contacts--dark {
  background-color: @dark;
}
