.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    text-decoration: none;
  }

    &__text {
      font-family: "Lato", "Arial, sans-serif";
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: #444444;
    }

  }

