.example {
  &__wrapper {
    padding: 25px 20px 40px 20px;
    background-color: #EAEAEA;
    display: grid;
    gap: 20px;
  }

  &__title {
    margin: 0;
    font-family: "Oswald", "Arial, sans-serif";
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
  }

  &__intro {
    margin: 0;
  }

  &__list {
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  &__item {
    text-align: center;
  }

  &__size {
    font-family: "Oswald", "Arial, sans-serif";
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__description {
    margin: 0;
    font-family: "Lato", "Arial, sans-serif";
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #444444;
  }

  &__total {
    font-family: "Oswald", "Arial, sans-serif";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    justify-self: center;
  }
}
