.form-section__wrapper {
  .wrapper__size;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
    margin: 0 40px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }
}

.form-section__intro {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.form-section__form {
  padding-top: 39px;
  padding-bottom: 32px;
}

.form-section__button {
  width: 100%;
  margin-bottom: 21px;
}

.form-section__info {
  margin: 0;
  text-align: center;
  color: #000000;
}

.form-section__content {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 284px auto;
    gap: 60px;
    justify-content: left;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 570px auto;
    gap: 80px;
  }
}
