.form__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 34px;
}

.form__content {
  display: flex;
  align-items: center;
}

.form__content:not(:last-child) {
  margin-bottom: 13px;
}

.form__label,
.form__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  min-width: max-content;
  margin-right: 13px;

  sup {
    position: static;
    vertical-align: baseline;
    font-size: inherit;
  }
}

.form__field {
  width: 100%;
  padding: 10px 13px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.form__field::placeholder {
  text-transform: none;
}

.form__field:hover {
  outline: 1px solid #cdcdcd;
}

.form__field:focus {
  outline: 2px solid #444444;
}

.form__list {
  .list__reset;

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 23px 0 27px 27px;
  }


  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 12px;
}

.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 20px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 800%;
    height: 2px;
    background: #68b738;
    bottom: -24px;
    left: 0;
    top: 15px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;
    padding-left: 60px;
    margin-left: -60px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 800%;
      height: 2px;
      background: #68b738;
      top: 22px;
      z-index: -1;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
  }
}

//--pet
.form__group--pet {
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__group--pet .form__content:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
  }
}

.form__group--pet .form__field {
  @media (min-width: @tablet-width) {
    padding: 10px 18px;
  }
}

//--program
.form__group--program {
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__group--program .control__label {
  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

//--owner
.form__group--owner {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
    display: flex;
    justify-content: space-between;
  }
}

.form__group--owner .form__legend {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }
}

.form__group--owner .form__content {
  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__group--owner .form__content:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__group--owner .form__content--email {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("../img/stack.svg#icon-email");
    background-color: #222222;
    width: 20px;
    height: 20px;
    right: 10px;
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: 15px;
    }
  }
}

.form__content--email:hover::after {
  background-color: #222222;
}

.form__content--email:focus::after,
.form__content--email:active::after {
  background-color: #68b738;
}

.form__group--owner .form__content--phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("../img/stack.svg#icon-phone");
    background-color: #222222;
    width: 20px;
    height: 20px;
    right: 10px;
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: 15px;
    }
  }
}

.form__content--phone:hover::after {
  background-color: #222222;
}

.form__content--phone:focus::after,
.form__content--phone:active::after {
  background-color: #68b738;
}

.form__group--owner .form__field {
  padding-right: 40px;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}

//--comments
.form__group--comments {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.form__group--comments .form__text {
  padding: 0;
  border: 1px solid #e7e7e7;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.form__text::placeholder {
  padding: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
  }
}

.form__group--comments .form__legend {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
  }
}

//--additional
.form__group--additional {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.form__group--additional .form__legend {
  margin-bottom: 34px;
}

.form__group--additional .form__list {
  @media (min-width: @tablet-width) {
    padding: 22px 0 38px 0;
    display: grid;
    grid-template-columns: 284px auto;
    gap: 60px;
    row-gap: 18px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 265px);
    justify-content: space-between;
    padding: 22px 0 46px 0;
    margin-right: 95px;
  }
}

.form__group--additional .control__label {
  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__group--pet,
.form__group--program {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 800%;
    height: 1px;
    background: #d9d9d9;
    bottom: -20px;
    right: 0;
  }

  &::after {
    left: 0;
  }

  @media (min-width: @tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }
}

//error
.form__error .form__field {
  outline: 2px solid #ff8282;
}

.form__content--email.form__error,
.form__content--phone.form__error {
  &::after {
    background-color: #ff8282;
  }
}
