.form-section {
  padding-top: 27px;
  padding-bottom: 32px;


  @media (min-width: @tablet-width) {
    padding-top: 65px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
    padding-bottom: 79px;
  }
}

.form-section__wrapper {
  .wrapper__size;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.form-section__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.form-section__intro {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
  }
}

.form-section__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.form-section__info {
  margin: 0;
  text-align: center;
  color: #000000;
}

.form-section__content {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 284px auto;
    gap: 60px;
    justify-content: left;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 570px auto;
    gap: 80px;
  }
}
