.gift {
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);

  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 100%;
    background-image: url("../img/gift/gift-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift/gift-mobile@2x.jpg");
    }
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("../img/gift/gift-tablet.jpg");
      width: 707px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/gift/gift-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;

    &::before {
      background-image: url("../img/gift/gift-desktop.jpg");
      width: 245px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/gift/gift-desktop@2x.jpg");
      }
    }
  }
}

.gift__slogan {
  margin: 0;
  padding: 187px 61px 43px 58px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../img/gift/icon-gift.svg");
    background-repeat: no-repeat;
    top: 58px;
    left: 101px;
  }

  @media (min-width: @tablet-width) {
    padding: 71px 125px 69px 421px;
    max-width: 161px;
    text-align: left;

    &::before {
      background-size: 80px 83px;
      top: 56px;
      left: 78px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 185px 42px 43px 42px;
    text-align: center;

    &::before {
      left: 83px;
    }
  }
}
