.main-nav {
  margin: 0 auto;
  width: 320px;
  margin-bottom: 24px;
}
.main-vav__list {
  .list__reset;
  padding: 0 20px;
}

.main-nav__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__item:not(:last-child) {
  margin-bottom: 46px;
}

.man-nav__link {
  color: #000000;
  text-decoration: none;
}
