.main-nav__list {
  .list__reset;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 436px;
  }

  @media (min-width: @desktop-width) {
    width: 475px;
  }
}

.main-nav__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__item:not(:last-child) {
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.main-nav__link {
  color: #000000;
  text-decoration: none;
}
