.main-footer {
  background-color: @dark;
  padding: 40px 0;
}

.main-footer__wrapper {
  .wrapper__size;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.main-footer__logo:hover svg,
.main-footer__logo:focus svg {
  fill: #3e3e3e;
}

.main-footer__logo:active svg {
  fill: #6b6b6b;
}
