.main-footer {
  background-color: @dark;
  padding: 40px 0;
}

.main-footer__wrapper {
  .wrapper__size;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 44px;
    height: 1px;
    background: #d9d9d9;
    box-shadow: 0 66px 0 0 #d9d9d9;
  }

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.main-footer__logo svg {
  fill: #111111;
}

.main-footer__logo:hover svg,
.main-footer__logo:focus svg {
  fill: #3e3e3e;
}

.main-footer__logo:active svg {
  fill: #6b6b6b;
}
