.main-header__wrapper {
  .wrapper__size;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

.main-header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-header__toggle {
  width: 18px;
  height: 18px;
  background-image: url("../img/toggle-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}
