.main-header {
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

.main-header__wrapper {
  .wrapper__size;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    display: flex;
    width: @tablet-width;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-header__logo {
  height: 38px;
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    height: 50px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.main-header__toggle {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__toggle:hover,
.main-header__toggle:focus {
  opacity: 0.6;
}

.main-header__toggle:active {
  opacity: 0.3;
}

.main-header__container--closed .main-header__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../img/toggle-closed.svg");
}

.main-header__container--opened .main-header__toggle {
  width: 18px;
  height: 18px;
  background-image: url("../img/toggle-opened.svg");
}

@media (max-width: @mobile-width-only) {
  .main-header__container--closed .main-nav__list  {
    display: none;
  }

  .main-header__container--nojs .main-header__toggle {
    display: none;
  }

  .main-header__container--nojs .main-nav__list {
    display: block;
  }

  .main-header__container--nojs .main-nav {
    position: static;
  }
}
