.page-catalog {
  &__title {
    margin: 27px 42px 41px 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #000000;
    text-align: center;
  }
}
