.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 20px 0 28px 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 800%;
    height: 1px;
    background: #ebebeb;
    top: 0;
    right: 0;
  }

  &::after {
    left: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0 37px 40px 37px;

    &::after {
      content: "";
      position: absolute;
      width: 324px;
      height: 430px;
      left: 0;
      bottom: 0;
      top: auto;
      background-color: @dark;
      z-index: -1;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 38px 40px 38px;

    &::after {
      width: 245px;
    }
  }
}

.product__content {
  display: flex;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin-bottom: 27px;
  }


  @media (min-width: @desktop-width) {
    margin-bottom: 37px;
  }
}

.product__link {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.product__link:hover {
  opacity: 0.6;
}

.product__link:active {
  opacity: 0.3;
}

.product__image-wrapper {
  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 12px;
  }
}

.product__image {
  display: block;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 210px;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    padding-top: 0;
  }
}

.product__title {
  margin: 0;
  max-width: 76px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin: 0 auto 15px auto;
    text-align: center;
    max-width: 135px;
    font-size: 20px;
    line-height: 24px;
  }
}

.product__info {
  width: 140px;
  border-spacing: 1px;

  @media (min-width: @tablet-width) {
    width: 250px;
    border-collapse: collapse;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.product__info tr {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__name {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.product__value {
  font-size: 12px;
  line-height: 16px;
  text-align: right;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

//-all
.product--all {
  padding: 16px 0 25px 0;

  @media (min-width: @tablet-width) {
    border: 2px solid #f2f2f2;
    margin-top: 80px;
    padding: 10px 36px 38px 36px;

    &::after,
    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 73px;
    padding: 10px 36px 38px 36px;
  }
}

.product--all .product__content {
  flex-direction: column;
  padding-top: 62px;
  margin-bottom: 20px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    left: 124px;
    top: 24px;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    margin-bottom: 82px;

    &::before,
    &::after {
      width: 60px;
      left: 95px;
      top: -80px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 90px;

    &::before,
    &::after {
      left: 55px;
      top: -75px;
    }
  }
}

.product--all .product__title {
  margin-bottom: 8px;
  text-align: center;
  color: #111111;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    max-width: 135px;
  }
}

.product--all .product__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    margin: 0 auto;
  }
}

.product--all .product__button {
  color: #444444;
  background-color: @dark;
  width: 100%;
  box-sizing: border-box;
  align-self: center;

  @media (min-width: @tablet-width) {
    padding: 10px 38px;
  }
}

.product--all .product__button:hover,
.product--all .product__button:focus,
.product--all .product__button:active {
  background-color: #ebebeb;
}
