.programs {
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 82px;
  }
}

.programs__wrapper {
  .wrapper__size;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.programs__list {
  .list__reset;
  display: grid;
  gap: 20px;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto auto;
    gap: 80px;
  }
}

.programs__item {
  padding: 30px 33px 18px 20px;
  background-color: @dark;

  @media (min-width: @tablet-width) {
    padding-left: 52px;
  }
}

.programs__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-left: 90px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 62px;
  }
}

.programs__description {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    max-width: 340px;
  }

  @media (min-width: @desktop-width) {
    max-width: 457px;
  }
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
