.promo__wrapper {
  .wrapper__size;
  display: grid;
  text-align: center;
}

.promo__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 25px;
}

.promo__slogan {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 29px;
}

.promo__image {
  object-fit: cover;
  margin-bottom: 3px;
}
